Repository ongov/ontario-design-system, pull requests merged in 2025-01, with the labels that each got.

#19 DS-2125: deduplicate SASS variable naming conflict
  packages/ontario-design-system-complete-styles/gulpfile.js
  packages/ontario-design-system-component-library/src/components/ontario-footer/test/ontario-footer.spec.tsx
  packages/ontario-design-system-component-library/src/components/ontario-header/ontario-header.scss
Labels: complete-styles

#22 Alpha -> Develop
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/app-angular/package-lock.json
  packages/app-angular/package.json
  packages/app-react/package-lock.json
  packages/app-react/package.json
  packages/app-web-components-documentation/package-lock.json
  packages/app-web-components-documentation/package.json
  packages/ontario-design-system-complete-styles/gulpfile.js
  packages/ontario-design-system-complete-styles/package-lock.json
  packages/ontario-design-system-complete-styles/package.json
  packages/ontario-design-system-component-library-angular/package-lock.json
  packages/ontario-design-system-component-library-angular/package.json
  packages/ontario-design-system-component-library-react/package-lock.json
  packages/ontario-design-system-component-library-react/package.json
  packages/ontario-design-system-component-library/package-lock.json
  packages/ontario-design-system-component-library/package.json
  packages/ontario-design-system-component-library/src/components/ontario-footer/test/ontario-footer.spec.tsx
  packages/ontario-design-system-component-library/src/components/ontario-header/ontario-header.scss
Labels: merge

#17 DS-2118: added terms of use link prop
  packages/app-angular/src/app/app.component.ts
  packages/app-react/src/stories/footer-page/DefaultFooterCodeExample.tsx
  packages/ontario-design-system-component-library/src/components.d.ts
  packages/ontario-design-system-component-library/src/components/ontario-footer/components/simple-footer.tsx
  packages/ontario-design-system-component-library/src/components/ontario-footer/ontario-footer-interface.tsx
  packages/ontario-design-system-component-library/src/components/ontario-footer/ontario-footer.tsx
  packages/ontario-design-system-component-library/src/index.html
  packages/ontario-design-system-component-library/src/translations/global.i18n.json
Labels: component-library

#21 DS-2111: cards not full width
  packages/ontario-design-system-component-library/src/components/ontario-card-collection/ontario-card-collection.scss
  packages/ontario-design-system-component-library/src/components/ontario-card/ontario-card.scss
  packages/ontario-design-system-component-library/src/index.html
Labels: bug, component-library

#24 DS-2118: update readme with terms of use link
  packages/ontario-design-system-component-library/src/components.d.ts
  packages/ontario-design-system-component-library/src/components/ontario-footer/readme.md
Labels: component-library

#18 DS-2120: added white colour to the background of the card to avoid bleed
  packages/ontario-design-system-component-library/src/components/ontario-card/ontario-card.scss
Labels: bug, component-library

#25 Develop -> Alpha
  packages/app-angular/src/app/app.component.ts
  packages/app-react/src/stories/footer-page/DefaultFooterCodeExample.tsx
  packages/ontario-design-system-component-library/src/components.d.ts
  packages/ontario-design-system-component-library/src/components/ontario-card-collection/ontario-card-collection.scss
  packages/ontario-design-system-component-library/src/components/ontario-card/ontario-card.scss
  packages/ontario-design-system-component-library/src/components/ontario-footer/components/simple-footer.tsx
  packages/ontario-design-system-component-library/src/components/ontario-footer/ontario-footer-interface.tsx
  packages/ontario-design-system-component-library/src/components/ontario-footer/ontario-footer.tsx
  packages/ontario-design-system-component-library/src/components/ontario-footer/readme.md
  packages/ontario-design-system-component-library/src/index.html
  packages/ontario-design-system-component-library/src/translations/global.i18n.json
Labels: merge

#26 Alpha --> Develop
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/app-angular/package-lock.json
  packages/app-angular/package.json
  packages/app-react/package-lock.json
  packages/app-react/package.json
  packages/app-web-components-documentation/package-lock.json
  packages/app-web-components-documentation/package.json
  packages/ontario-design-system-complete-styles/package-lock.json
  packages/ontario-design-system-complete-styles/package.json
  packages/ontario-design-system-component-library-angular/package-lock.json
  packages/ontario-design-system-component-library-angular/package.json
  packages/ontario-design-system-component-library-react/package-lock.json
  packages/ontario-design-system-component-library-react/package.json
  packages/ontario-design-system-component-library/package-lock.json
  packages/ontario-design-system-component-library/package.json
Labels: component-library
