Repository ongov/ontario-design-system, pull requests merged in 2025-07, with the labels that each got.

#88 Alpha -> Develop
  CHANGELOG.md
  lerna.json
  package.json
  packages/app-angular/package.json
  packages/app-react/package.json
  packages/app-web-components-documentation/package.json
  packages/ontario-design-system-complete-styles/package.json
  packages/ontario-design-system-component-library-angular/package.json
  packages/ontario-design-system-component-library-react/package.json
  packages/ontario-design-system-component-library/package.json
  packages/ontario-design-system-design-tokens/package.json
  packages/ontario-design-system-global-styles/package.json
  pnpm-lock.yaml
Labels: merge

#108 Remove unused header type swap code
  packages/ontario-design-system-component-library/src/global.ts
Labels: component-library

#93 DS-2282: Create ontario-badge test page
  packages/app-nextjs/src/app/components/ontario-badge/page.tsx
  packages/app-nextjs/src/app/page.tsx
Labels: next-poc

#106 DS-2298 - Create test page for ontario-language-toggle
  packages/app-nextjs/src/app/components/ontario-language-toggle/page.tsx
  packages/app-nextjs/src/app/page.tsx
Labels: next-poc
