Repository ongov/ontario-design-system, pull requests merged in 2025-06, with the labels that each got.

#64 ci(renovate): remove pnpm version from Renovate workflow
  .github/workflows/renovate.yml
Labels: renovate

#63 DS-2243: Update Stencil.js and Docusuarus
  packages/app-web-components-documentation/docusaurus.config.js
  packages/app-web-components-documentation/package.json
  packages/ontario-design-system-component-library/package.json
  packages/ontario-design-system-component-library/src/components.d.ts
  packages/ontario-design-system-component-library/src/components/ontario-checkbox/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-date-input/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-dropdown-list/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-header/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-hint-text/ontario-hint-text.tsx
  packages/ontario-design-system-component-library/src/components/ontario-hint-text/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-input/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-language-toggle/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-radio-buttons/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-search-box/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-step-indicator/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-textarea/readme.md
  packages/ontario-design-system-component-library/stencil.config.ts
  pnpm-lock.yaml
Labels: component-library, web-components-documentation-app

#62 DS-2244: removed row-gap from card collection to remove extra space
  packages/ontario-design-system-component-library/src/components/ontario-card-collection/ontario-card-collection.scss
Labels: bug, component-library

#71 v5.0.0: Update develop with code review changes for v5.0.0 release
  .github/workflows/app-docs.yml
  .github/workflows/build.yml
  .github/workflows/publish-packages.yml
  .github/workflows/test.yml
  README.md
  packages/app-react/src/stories/blockquote-page/BlockquoteExample.tsx
  packages/app-react/src/stories/button-page/ButtonExample.tsx
  packages/app-react/src/stories/checkbox-page/CheckboxExample.tsx
  packages/app-react/src/stories/dropdown-list-page/DropdownListExample.tsx
  packages/app-react/src/stories/footer-page/DefaultFooterCodeExample.tsx
  packages/app-react/src/stories/footer-page/ExpandedFooterCodeExample.tsx
  packages/app-react/src/stories/header-page/HeaderOntarioExample.tsx
  packages/app-react/src/stories/hint-text-page/HintExpander.tsx
  packages/app-react/src/stories/hint-text-page/HintText.tsx
  packages/app-react/src/stories/icon-page/IconHowToUse.tsx
  packages/app-react/src/stories/radio-button-page/RadioButtonExample.tsx
  packages/app-react/src/stories/text-area-page/TextAreaExample.tsx
  packages/app-react/src/stories/text-input-page/TextInputExample.tsx
  packages/ontario-design-system-complete-styles/README.md
  packages/ontario-design-system-component-library-angular/README.md
  packages/ontario-design-system-component-library-angular/projects/component-library/README.md
  packages/ontario-design-system-component-library-angular/projects/component-library/package.json
  packages/ontario-design-system-component-library-react/README.md
  packages/ontario-design-system-component-library/readme.md
  packages/ontario-design-system-component-library/src/components.d.ts
  packages/ontario-design-system-component-library/src/components/ontario-search-box/ontario-search-box.tsx
  packages/ontario-design-system-component-library/src/components/ontario-task-list/ontario-task-list.tsx
  packages/ontario-design-system-component-library/src/components/ontario-task-list/readme.md
  packages/ontario-design-system-design-tokens/README.md
  packages/ontario-design-system-global-styles/README.md
Labels: merge, component-library, component-library-angular

#72 v5.0.0: Production -> Develop
  CHANGELOG.md
  lerna.json
  package.json
  packages/app-angular/package.json
  packages/app-react/package.json
  packages/app-web-components-documentation/package.json
  packages/ontario-design-system-complete-styles/package.json
  packages/ontario-design-system-component-library-angular/package.json
  packages/ontario-design-system-component-library-react/package.json
  packages/ontario-design-system-component-library/package.json
  packages/ontario-design-system-design-tokens/package.json
  packages/ontario-design-system-global-styles/package.json
  pnpm-lock.yaml
Labels: merge, design-tokens, global-styles, complete-styles, component-library, component-library-react, component-library-angular, react-poc, angular-poc, web-components-documentation-app

#60 fix(SSR): Optimize Components for SSR (Pt 2)
  packages/ontario-design-system-component-library/src/components/ontario-accordion/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-aside/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-back-to-top/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-badge/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-blockquote/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-button/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-callout/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-card/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-checkbox/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-critical-alert/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-dropdown-list/ontario-dropdown-list.tsx
  packages/ontario-design-system-component-library/src/components/ontario-dropdown-list/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-footer/ontario-footer.tsx
  packages/ontario-design-system-component-library/src/components/ontario-footer/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-header/ontario-header.tsx
  packages/ontario-design-system-component-library/src/components/ontario-header/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-hint-expander/ontario-hint-expander.tsx
  packages/ontario-design-system-component-library/src/components/ontario-hint-expander/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-hint-text/ontario-hint-text.tsx
  packages/ontario-design-system-component-library/src/components/ontario-hint-text/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-input/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-language-toggle/ontario-language-toggle.tsx
  packages/ontario-design-system-component-library/src/components/ontario-language-toggle/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-page-alert/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-radio-buttons/ontario-radio-buttons.tsx
  packages/ontario-design-system-component-library/src/components/ontario-radio-buttons/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-search-box/ontario-search-box.tsx
  packages/ontario-design-system-component-library/src/components/ontario-search-box/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-step-indicator/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-table/ontario-table.tsx
  packages/ontario-design-system-component-library/src/components/ontario-table/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-task-list/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-task/ontario-task.tsx
  packages/ontario-design-system-component-library/src/components/ontario-task/readme.md
  packages/ontario-design-system-component-library/src/components/ontario-task/test/ontario-task.spec.tsx
  packages/ontario-design-system-component-library/src/components/ontario-textarea/ontario-textarea.tsx
  packages/ontario-design-system-component-library/src/components/ontario-textarea/readme.md
Labels: component-library
